{% extends 'base.html' %}
{% load staticfiles %}
        {% block content %}
            <div id="product_box">
                {% for product in products %}
                    <div id="single_product">
                        <h3 align="center"> {{ product.pro_title }}</h3>
                        <img id="pro_image" src="{{ product.pro_image }}"/>
                        <h5 align="center"> {{ product.pro_price }} </h5>
                        <a href="/{{ product.id }}/" style="float: left;">Details</a>
                        <a href="/">
                            <button style="float: right; text-decoration: none;">Add to Cart</button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}