{% load staticfiles %}
<!DOCTYPE html>
    <html>

        <head>
            <link rel="stylesheet" type="text/css" href="{% static 'CSS/stylesheet.css' %}"/>
            <title>The Views</title>
        </head>

        <body>

        <div class="main_wrapper">
        <div class="header_wrapper">
          <img id ="logo" src="{% static 'imgs/logo.gif' %}"/>
          <img id="banner" src="{% static 'imgs/ad_banner.gif' %}"/>
          <!--<img id="banner" src="{% static 'imgs/ad_banner.gif' %}"/> -->
        </div>
        <div id="menu_bar">
          <ul id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">All Products</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Shopping Cart</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>

          <div id="form">
            <form method="get" enctype="multipart/form-data">
              <input type="text" name="user_query" placeholder="Search products.."/>
              <input type="submit" name="search" value="Search"/>
            </form>
          </div>
        </div>

        <div class="content_wrapper">
          <div id="side_bar">
            <div class="sidebar_title">Categories</div>
              <ul class="cats">
                  {% for cat in cats %}
                    <li><a href="/"> {{ cat.cat_title }}</a></li>
                  {% endfor %}
              </ul>

            <div class="sidebar_title">Brands</div>
            <ul class="cats">
                {% for brand in brands %}
                    <li><a href="/"> {{ brand.brand_title }} </a></li>
                {% endfor %}
            </ul>

          </div>
          <div id="content_area">
            <div id="product_box">
                {% for product in products %}
                    <div id="single_product">
                        <h3 align="center"> {{ product.pro_title }}</h3>
                        <img id="pro_image" src="{{ product.pro_image }}"/>
                        <h5 align="center"> {{ product.pro_price }} </h5>
                        <a href="details.html" style="float: left;">Details</a>
                        <a href="index.html">
                            <button style="float: right; text-decoration: none;">Add to Cart</button>
                        </a>
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div id="footer">
          <h2 id="copyright">&copy; 2017 www.github.com/abdullahbc989</h2>
        </div>
      </div>

        </body>

    </html>